# Core ML and RL libraries
torch
stable-baselines3[extra]


# Environment
gymnasium[atari]
gymnasium[accept-rom-license]

# Data Analysis & Plotting
pandas                     
matplotlib
tensorboard                

# Other utilities
numpy
opencv-python